function getNews() {
  $.ajax({
    url: 'http://api.nytimes.com/svc/news/v3/content/nyt/all?api-key=<%= ENV["nytimes_key"] %>',
    type: 'GET',
    success: function (articles) {
      rssFeed(articles);
      // console.log(articles['results']);
    },
    error: function (message){
      console.error(message);
    }
  });
}

function rssFeed(articles) {
  articles['results'].forEach(function(article) {
    var articleClass = extractTitle(article);
    $('.feed').append('<p class=' + articleClass + '><a href=' + article['url'] + '>' + article['title'] +
                      '</a> <span class=' + articleClass + '>&#9734;</span></p>');
    favorite(article, articleClass);
  });
}

function extractTitle(article) {
  var url = article['url'];

  if (url.substr(url.length - 5) === '.html') {
    return url.match(/.*\/(.*)\./)[1];
  } else if (url.substr(url.length - 1) === '/') {
    return url.match(/.*\/(.*)\//)[1];
  } else {
    return url.match(/.*\/(.*)$/)[1];
  }
}

function favorite(article, articleClass) {
  var tag = '.' + articleClass + ' span';

  $(tag).on('click', function() {
    postArticle(article);

    var star = $(this).html();
    code = toggleFavorite(star);
    $(this).html(code);
  });
}

function toggleFavorite(star) {
  return star === '☆' ? '&#9733;' : '&#9734;';
}

function postArticle(article) {
  $.ajax({
    url: '/articles',
    type: 'POST',
    data: { article: { title: article["title"] ,
                       url: article["url"] } },
    success: function(title) {
      console.log(title);
    },
    error: function(message) {
      console.error(message);
    }
  });
}


$(document).ready(function() {
  getNews();
});
