function getNews() {
  $.ajax({
    url: 'https://api.nytimes.com/svc/news/v3/content/nyt/all?api-key=<%= ENV["nytimes_key"] %>',
    type: 'GET',
    dataType: 'json',
    success: function (articles) {
      rssFeed(articles);
    },
    error: function (message){
      console.error(message);
    }
  });
}

function rssFeed(articles) {
  articles['results'].forEach(function(article) {
    var idNum = checkFavorited(article["url"]);
    var star = idNum ? "&#9733;" : "&#9734;"

    var articleID = extractTitle(article);
    $('#feed').append('<p id="' + articleID + ' ' + idNum + '"><a href="' + article['url'] + '">' + article['title'] +
                      '</a> <span id="' + articleID + '-star">' + star + '</span></p>');

    favorite(article, articleID);
  });
}

function extractTitle(article) {
  var url = article['url'];

  if (url.substr(url.length - 5) === '.html') {
    return url.match(/.*\/(.*)\./)[1];
  } else if (url.substr(url.length - 1) === '/') {
    return url.match(/.*\/(.*)\//)[1];
  } else {
    return url.match(/.*\/(.*)$/)[1];
  }
}

function favorite(article, articleID) {
  var tag = '#' + articleID + '-star';

  $(tag).on('click', function() {
    var star = $(this).html();

    if (star === '☆') {
      postArticle(article, articleID);
      $(this).html('&#9733;');
    } else {
      deleteArticle(tag);
      $(this).html('&#9734;');
    }
  });
}

function postArticle(articleInfo, articleID) {
  $.ajax({
    url: '/articles',
    type: 'POST',
    data: { article: { title: articleInfo["title"],
                       url:   articleInfo["url"] } },
   success: function(db_article) {
     addIDNumToHTML(db_article, articleID);
   },
    error: function(message) {
      console.error(message);
    }
  });
}

function addIDNumToHTML(db_article, articleID) {
  var id = db_article['id'];
  var tag = '#' + articleID;
  $(tag).attr('id', articleID + ' ' + id.toString());
}

function deleteArticle(tag) {
  var ids = $(tag).parents().attr('id').split(' ');

  $.ajax({
    url: '/articles/' + ids[1],
    type: 'DELETE',
    success: function() {
      $(tag).closest('p').attr('id', ids[0]);
    },
    error: function(message) {
      console.error(message);
    }
  });
}

function checkFavorited(url) {
  var favoritedArticles = $('#starred').data('articles');

  var idNum;
  favoritedArticles.forEach(function(article) {
    if (article[1] === url) {
      idNum = article[0];
    }
  });

  return idNum;
}

$(document).ready(function() {
  getNews();
});
