function getNews() {
  $.ajax({
    url: "http://api.nytimes.com/svc/news/v3/content/nyt/all?api-key=<%= ENV['nytimes_key'] %>",
    type: "GET",
    success: function(articles) {
      rssFeed(articles);
      // console.log(articles["results"]);
    },
    error: function(message){
      console.error(message);
    }
  });
}

function rssFeed(articles) {
  articles["results"].forEach(function(article) {
    var articleID = extractTitle(article);
    $(".feed").append("<p id=" + articleID + "><a href=" + article["url"] + ">" + article["title"] +
                      "</a> <span class='star'>&#9734;</span></p>");
  });

  favorite();
}

function extractTitle(article) {
  return article["url"].match(/.*\/(.*)\./)[1];
}

function favorite() {
  $( ".star" ).on("click", function() {
    var id = $(this).parents().attr('id');
    code = toggleFavorite("#" + id);
    $(this).html(code);
  });
}

function toggleFavorite(id) {
  return $(id).children(".star").html() === "☆" ? "&#9733;" : "&#9734;";
}

$(document).ready(function() {
  getNews();
});
